@font-face{
    font-family: 'NeutrafaceGreek';
    font-style: normal;
    font-weight: 100;
    src: url('font/Neutraface2DispGreekBold.otf') format('opentype');
    src: url('font/Neutraface2DispGreekBold.woff') format('woff'),
}
@font-face{
    font-family: 'NeutrafaceGreek';
    font-style: normal;
    font-weight: normal;
    src: url('font/Neutraface2Display-Bold.otf') format('opentype');
    src: url('font/Neutraface2Display-Bold.woff') format('woff'),
}
@font-face{
    font-family: 'NeutrafaceGreek';
    font-style: normal;
    font-weight: bold;
    src: url('font/Neutraface 2 Disp Greek Titl.otf') format('opentype');
    src: url('font/Neutraface 2 Disp Greek Titl.woff') format('woff'),
}